* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
li:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}
/* NAV BAR */
main {
    width: 90%;
    margin: auto;
}
.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.menu {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}
.hidden-menu {
    display: none;
}
.nav-style ul {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.logo-style{
    font-size: 1.4rem;
    font-weight: 600;
    color: #285E67;
    margin-left: 10%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo:hover {
    cursor: pointer;
}
/* SECTION 1 */
.container {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-body {
    padding: 4% 0; 
    align-items: center;
    display: inherit;
    flex-direction: column;
    text-align: center;
}
.section-body h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0;
}
.section-body .main-header {
    font-size: 5.4rem;
}
.section-body p {
    font-size: 1rem;
}

.section-body button {
    width: auto;
    border: none;
    background-color: #285E67;
    color: white;
    padding: 1.4% 6%;
    margin-top: 2%;
    border-radius: 67px;
    -webkit-border-radius: 67px;
    -moz-border-radius: 67px;
    -ms-border-radius: 67px;
    -o-border-radius: 67px;
    font-weight: 600;
    font-size: 1.2rem;
}

.img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* column-gap: 4%; */
}

.img-container img {
    width: 48%
}
/* Section 2 */

.section2 {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 12px;
}

.section2 .section-body  {
    width: 50%;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 7%;
}
.section2 .section-body h2{
    font-size: 3.35rem;
    font-weight: 500;
    width: 100%;
    text-align: start;
}
.sub-section {
    width: 100%;
    display: flex;
    margin-top: 5%;
    column-gap: 20%;
    max-width: 75ch;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 30%;
    font-size: 0.9rem;
}
.section-img {
    width: 45%;
}

.section-img img {
    width: 100%;
}

/* Section 3 */

.section3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0;
    gap: 5%;
}

.section3 .section-img {
    width: 50%;
    flex-shrink: 0;
}

.section3 h2 {
    font-size: 4rem;
}
.section3 .section-img img{
    display: block;
    width: 100%;
    max-height: 800px;
    /* object-fit: fill; */
    border-radius: 24px;
}
.section3 p {
    font-size: 1.2rem;
}
.section-header p {
    max-width: 100ch;
}
.section3 .section-body {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    text-align: start;
}

.section3 .sub-section {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;    
}
.section3 .text-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* max-width: 70ch; */
    line-height: 1.6;
}
.section3 .text-container p{
    margin-left: 4%;
}

/* Section 4 */

.section2 .section4-img-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
}
.section2 .section4-img-container img{
    width: 50%;
}

.section5 {
    margin: 7% 0%;
    background-image: url(../assets/tyler-lastovich-AVzByhROPbs-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.section5 .section-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0 5% 0;
}
.section5 button{
    padding: 2% 10%;
    background-color: transparent;
    border: 1px solid white;
}
.section5 h2 {
    font-size: 2.6rem;
}
.section5 .body-text p{
    max-width: 65ch;
}

.plants-container {
    padding: 6% 3%;
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FCE2D7;
}

.plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.plant h3 {
    font-weight: 400;
}

footer {
    background-color: #285E67;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4% 8%;
}
footer .nav-style {
    padding: 1% 0;
}
footer .logo-style {
    color: white
}

.social-media {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.social-media .logo {
    width: 50%;
}
.links-list {
    width: 70%;
    flex-shrink: 0;
}
.social-media ul{
    padding: 0;
    width: 40%;
    list-style: none;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}




/* MEDIA QUERY */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-body .main-header {
        font-size: 3.5rem;
    }
    .nav-style ul {
        width: 40%;
        padding: 0;
    }
    .img-container {
        width: 90%;
    }
    .img-container img  {
        width: 48%;
    }
    .section-body button {
        padding: 2% 8%;
        font-size: 1rem;
    }
    .section-body {
        max-width: 75ch;
    }
    .section-body p {
        max-width: 65ch;
    }

    .section-img {
        display: none;
    }
    /* Section 2 */
    .section2{
        align-items: center;
        justify-content: center;
    }
    .section2 .section-body, .text-container{
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .section2 .section-body {
        width: 100%;
        padding-left: 0;
    }
    .sub-section {
        justify-content: space-evenly;
    }

    .text-container {
        text-align: center;
        width: 35%;
    }

    /* Section 3 */
    .section3{
        gap: 2rem;
    }
    .section3 .section-body{
        gap: 0rem;
    }
    .section3 .section-body h2{
        margin: 0;
    }
    .section3 .sub-section{
        gap: 0rem;
    }
    .section3 .sub-section .text-container{
        max-width: 65ch;
        align-items: center;
        text-align: start;
    }
    .section3 .section-img {
        aspect-ratio: 2/4;
        display: block;
        width:45%;
    }
    .section3 .section-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Section 4 */

    .section2 .section4-img-container {
        display: none;
    }
    .section2 .section-body h2 {
        text-align: center;
    }
    /* Section 5 */
    .section5 {
        background-size: 100% 80%;
    }
    .plant {
        width: 50%;
        padding: 3%;
    }
    .plant img{
        width: 20%;
    }
    footer .nav-style {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .nav-style ul {
        justify-content: flex-start;
        padding: 0;
        gap: 2rem;
    }
    .social-media ul {
        gap: 1.5rem;
        justify-content: space-between;
    }
}



@media (min-width: 360px) and (max-width: 767px) {
    .section-body .main-header {
        font-size: 2.2em;
    }
    .nav-style ul {
        width: 20%;
        padding: 0;
    }
    ul li {
        display: none;
    }
    ul .hidden-menu {
        display: contents;
    }
    .img-container {
        width: 100%;
    }
    .img-container img {
        width: 100%;
        margin-bottom: 5%;
    }
    .section-body {
        max-width: 35ch;
        margin-bottom: 7%;

    }
    .section-body button {
        margin: 5% 0;
        padding: 5% 16%;
    }
    .section-body h2 {
        font-size: 2.2rem;
    }
    .section-body p {
        max-width: 40ch;
        font-size: 0.8rem;
    }
    .section2 {
        display: none;
    }

    .section3 {
        flex-direction: column;
    }
    .section3 .section-img {
        width:100%;
    }
    .section3 .section-header {
        display: flex;
        flex-direction: inherit;
        align-items: center;
    }
    .section3 .section-body {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .section3 .section-body .text-container p{
        width: 100%;
        max-width: 30ch;;
    }

    .section5 {
        background-size: 100% 50%;

    }

    .section5 .section-body {
        margin: 0;
    }
    .section5 .section-body  h2{
        max-width: 15ch;
        font-size: 1.5rem;
    }
    .section5 .section-body  p{
        display: none;
    }
    .plants-container{
        width: 70%;
        /* padding: 10% 0; */
    }
    .plant {
        width: 100%;
        padding: 3%;
    }
    .plant img {
        width: 20%;
    }
    footer {
        align-items: center;
        padding-bottom: 10%;
    }
    footer .nav-style {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .logo {
        align-self: flex-start;
    }
    footer .links-list{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    footer .links-list li {
        display: inline-block;
        width: 35%;
        margin-bottom: 14%;
    }

    .social-media{
        width: 100%;
        justify-content: space-between;
    }
    .social-media ul {
        padding-left: 15%;
        width: 80%;
        gap: 20%;
    }
    .social-media li {
        display: block;
    }
}